.foot { // en el foot, ubico 2 sectores importantes de la pagina, el formulario de contacto y de las redes en forma de grid. para poder separar a gusto estos elementos
    grid-area: foot;// acá defino qué parte del body-grid es este item. 
    display: flex; //defino flex dentro del grid, para ubicar las partes del foot.
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .contacto { //fabricando todo el formulario de contacto.
        width: 45rem;
        margin: 5%;
        padding: 1rem 2rem;
        box-sizing: border-box;
        border-radius: $radio;
        border: $bordemain;
        background: $bgmain;
        grid-column: 1/1;
        h2 {
            color: #fff;
            text-align: center;
            margin: 0;
            font-size: 30;
            margin-bottom: 2rem;
        }
        input,textarea {
            width: 100%;
            margin-bottom: 2rem;
            padding: $radio;
            box-sizing: border-box;
            font-size: 1.7rem;
            border: none;
            border-radius: $radio;
        }
        textarea {
            min-height: 10rem;
            max-height: 20rem;
            max-width: 100%;
        }
        #boton {
            background-color: #092327;
            color: #fff;
            padding: 2rem;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: $transition;                
            }
        }            
    }
     
    .redes { // estilos y animacion para las redes.
        width: 25%;
        border: $bordemain;
        background: $bgmain;
        padding: 1%;
        margin: 5%;
        border-radius: $radio;    
        grid-column: 3/3;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-self: flex-end;
        img {
            width: 20%;
            filter: invert(9%) sepia(48%) saturate(686%) hue-rotate(140deg) brightness(96%) contrast(96%);
            &:hover {
                transform: scale(1.5);
                transition: $transition;                
                background-color: #ef8354; 
                border-radius: $radio;
                transition: $transition;                             
            }        
        }        
    }        
}
